@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700=swap');

body {
  margin: 0;
  font-family: var(--font);
  background-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.navbar {
  height: 64px;
  position: sticky;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.navbar__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__logo {
  font-size: 17px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  text-decoration: none;
  color: #6070ff;
  font-family: Poppins, sans-serif;
}

.navbar__label_container {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  margin-left: 200px;
}

.__label__list_container {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #6070ff;
  border-radius: 1px;
  cursor: pointer;
}

.navigation {
  background-image: url("img/mbl.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #fff;
  border-bottom-left-radius: 80px;
}

.navigation > main {
  margin-top: 30px;
}

.resume__coding > p {
  float: left;
  color: #213c41;
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
}

.skills__container > p {
  text-align: left;
  margin-right: 12px;
  color: #6070ff;
  background-color: #ebebff;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  border-radius: 8px;
  order: 2;
}

.button p {
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: #3b6eee;
}

.feature__container_side > p {
  margin-right: 13px;
  text-align: left;
  font-family: Poppins, sans-serif;
}

.contact__container_me p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 32px;
}

.contact__button p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #043fe2;
  padding-top: 20px;
}

.navigation > main > p {
  color: #394e74;
}

.navigation__bar {
  font-family: Poppins, sans-serif;
  color: #213c41;
  font-size: 30px;
  margin-top: 60px;
}

.me {
  color: #394e74;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

.navigation > h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  color: #7f8cff;
  margin-top: 40px;
  font-family: Poppins, sans-serif;
}

.let__connect {
  color: #7f8cff;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
}

.nav-header {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #172b4d;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  margin-top: 21px;
  margin-bottom: 136px;
}

.social-media ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.social-media li {
  margin-right: 13px;
}

.navigation__work {
  width: 400px;
  height: 650px;
  background: #fff;
  border: 30px solid #dfe1e6;
  border-radius: 20px;
  margin-top: 200;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
}

.navigation_work > h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #1c355f;
  font-family: Poppins, sans-serif;
  font-style: normal;
  width: 293px;
  height: 34px;
  display: flex;
}

.portfolio_f_image {
  height: 222px;
  width: 293px;
  display: flex;
  border-radius: 8px;
}

.navigation__work > h5 {
  margin-top: 12px;
  font: 35px;
  color: #2b3952;
  font-family: Poppins, sans-serif;
}

.navigation__paragraph {
  font-family: Poppins, sans-serif;
  color: #616161;
  font-size: 15px;
}

.feature__container_side > img {
  width: 7px;
  height: 7px;
}

.category__portfolio {
  font-weight: 700;
  font-size: 14px;
  color: #344563;
}

.category__port {
  margin-left: 12px;
  color: #737d8f;
  font-size: 12px;
  font-weight: 650;
}

.feature__container {
  display: flex;
}

.feature__container_side {
  display: flex;
  margin-top: 22px;
  align-items: center;
}

.skills {
  display: flex;
}

.project__button {
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #6070ff;
  width: 126px;
  height: 48px;
  position: absolute;
  border-radius: 8px;
  cursor: pointer;
  color: #4657f5;
  font-size: 16px;
}

.myself {
  background-size: cover;
  width: 100%;
  height: 1263px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #fff;
  margin-top: 114px;
  border-top-right-radius: 80px;
}

.myself h4 {
  width: 327px;
  height: 35px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1f3863;
  margin-top: 114px;
}

.contact__container_me h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 103px;
  text-align: center;
}

.myself > text > p {
  width: 100%;
  height: 145px;
  color: #344563;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  margin-top: 12px;
  order: 1;
}

.resume__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: #fff;
  margin-top: 22px;
  border-radius: 8px;
  border: 1px solid #5f6ef1;
  width: 130px;
  height: 40px;
}

.resume__coding {
  display: flex;
  margin-top: 36px;
  background-color: #f6f6ff;
  width: 303px;
  height: 66px;
  margin-left: 16px;
  border-radius: 8px;
}

.resume__coding img {
  display: flex;
  margin-top: 8px;
  margin-left: 10px;
  width: 40px;
  height: 38px;
}

.framework__container {
  display: flex;
  margin-top: 70px;
  color: #172b4d;
  height: 20px;
  width: 10px;
  font-weight: 600;
}

.contact__container_me {
  position: absolute;
  width: cover;
  left: 1px;
  background: #6070ff;
  border-top-left-radius: 80px;
}

.contact__name {
  position: absolute;
  background: #fff;
}

input {
  display: block;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  width: 327px;
  height: 48px;
  margin-top: 20px;
  margin-left: 24px;
}

textarea {
  display: block;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  margin-top: 18px;
  width: 327px;
  height: 170px;
  margin-left: 24px;
}

.contact__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: white;
  border: 1px solid #6070ff;
  width: 162px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 22px;
  margin-left: 24px;
}

.contact__info {
  background-image: url(assets/contact-form.png);
  padding: 90px 24px;
  border-top-left-radius: 90px;
  background-size: contain, cover;
  background-position: right;
  background-clip: padding-box, padding-box;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  justify-content: center;
  color: #fff;
}
